
<div class="jumbotron d-flex jumbotron-fluid jheader">
    <div class="container">
      <h1 class="display-4">Find-A-Doc</h1>
    </div>
  </div>
  <h2>Please register!</h2>
  <form>
    <div class="form-group">
      <div class="col-md-15">
      <label for="exampleInputEmail1" class="text-white">Pick a User Name:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
    <div class="form-group">
      <div class="col-md-15">
      <label for="exampleInputEmail1" class="text-white">Enter Your Email Address:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <div class="col-md-15">
        <label for="exampleInputPassword1" class="text-white">Choose a Password:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  
  <footer>
    <p>©2022 OnlyDocs</p>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="./js/login.js"></script>



<script src="./js/login.js"></script>
