<div class="row justify-content-center">
  <div class="col-auto">
    <h2 class="" id="role-grabber">Welcome, {{name}}!</h2>
    <div id="selector-field" class="col-12"></div>
    <div id="doctor-field"></div>
  </div>
</div>

<script>var user_role = "{{role}}"</script>
    
<script src="./js/profile.js"></script>
