<div class="row">
  <div class="col-auto">
    <h2 id="role-grabber">Welcome, {{role}} {{name}}!</h2>
  </div>
</div>

<body>
    <!-- Create a button and give it an ID to reference later -->
    <div id="selector-field"></div>
    <div id="doctor-field"></div>
    
<script src="./js/profile.js"></script>
