header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body {
  background-image: url("./images/background.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-size: 100% 100%; */
  min-height: 100%;
}

title {
  padding-left: 16px;
}

#main-content {
  min-height: 100%;
}

#page-header {
  background-color:#373a3a;
}

/* #logo {
  object-fit: scale-down;
} */

.nav-link {
  margin-left: 16px;
  display: inline;
  font-size: 150%;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}

.no-button:hover {
  color: #ffffff;
  text-decoration: underline;
}

.lead {
  font-weight: bolder;
}

.jheader {
  /* background-color:#054c6d; */
  color: white;
}

form button {
  align-items:center;
}

h1 {
  color:white;
  text-align:left;
  }

h2 {
  font-size: 35px;
  color:white;
  text-align:center;
  padding:20px;
}

h3 {
  color: #373a3a;
  text-align: center;
}

h3 span a {
  color:white;
}

h4 {
  color:white;
}

footer {
 color:white;
text-align: center;
 padding: 2px;
}

.login-form {
  justify-content: center;
  display: flex;
  padding: 0;
}